{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser":true
  },
  "ecmaFeatures": {
    "classes": true,
    "modules": true
  },
  "rules": {
    "comma-dangle": 0,
    "linebreak-style":0,
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "consistent-return":0,
    "quote-props":0,
    "no-plusplus":0,
    "no-unused-vars":0,
    "no-alert":0,
    "no-shadow":0
  }
}
